note.txt
.env
.env.dev
.edea/
myvenv
.pytest_cache
data
poetry.lock
__pycache__
postgres-data/
.vscode
htmlcov/
.coverage
test/__pycache__
info.md
TASK.md
wait-for-postgres.sh
*.sh
wait-for-it.sh
**/media/**
**/staticfiles/**
**/cassettes/**
!**/migrations/__init__.py
*.csv
*__init__.py

