Django==4.0.4
djangorestframework==3.14.0

#bd
psycopg2==2.9.3
psycopg2-binary==2.9.3

#linters
flake8==4.0.1
pylint==2.13.7
pylint-django==2.5.3
pylint-plugin-utils==0.7

#test
coverage==6.3.2
factory-boy==3.2.1
Faker==13.11.
#locust
pytest==7.1.2
pytest-django==4.5.2
vcrpy==4.2.1
pytest-vcr==1.0.2
#env
django-environ==0.8.1

#image
Pillow==9.1.0

# #git
pre-commit==2.18.1

#auth
django-allauth==0.51.0
djangorestframework-simplejwt==5.2.2

#utils
django-model-utils==4.2.0
django-extensions==3.2.1
django-filter==22.1
django-storages==1.13.1

stripe==4.2.0
httpie==3.2.1

pry.py==0.1.1
drf-yasg==1.17.1
boto3












